.container__text {
    font-size: 40px;
    color: #333333;

    &--title {
        font-family: 'Monaco', sans-serif;
    }

    &--sub-title {
        font-style: italic;
        font-weight: 200;
        padding-left: 12px;


    }
}