//FONT

@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");


//PAGES
@import "./pages/Home/index.scss";
@import "./pages/Result/index.scss";
@import "./pages/NotFound/index.scss";

//COMPONENTS
@import "./components/GhTitle/index.scss";
@import "./components/SearchBar/index.scss";
@import "./components/Loading/index.scss";

* {
    margin: 0;
    padding: 0;
}

.app {
    text-align: center;
    height: 100%;
    font-family: Raleway;
}